body { font-family: "Poppins", sans-serif;

}
.banner{
    background-image: url(./imges/StockCake-Minimalist\ Desk\ Setup_1721018391.jpg);
    padding-top: 100px;
    padding-bottom: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    
}