body { font-family: "Poppins", sans-serif;

}
.banner{
    background-image: url(../Portfoio/imges/StockCake-Minimalist\ Desk\ Setup_1721018391.jpg);
    padding: 135px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
